/* GLOBAL  =============================================================== */
:root {
    /* Caso queria mudar, irá alterar todos que estão usando essa cor */
    --dark-blue: #363f5f;  
    --green: #49aa26;
    --light-green: #3dd705;
    --red: #e92929;
}

* {
     /* Tirando os espaçamentos padrões */
    margin: 0;              
    /* Padding é o preenchimento internos dos elementos */
    padding: 0;              
    /* Como está sendo feito a medida da caixa? */
    box-sizing: border-box;  
}

html {
    /* 15px */
    font-size: 93.75%;       
}

body {
    background: #f0f2f5;
    font-family: "Poppins", sans-serif;
}

/* Classe para remover a visualização desnecessária para nós, porém para não prejudicar a acessibilidade */
.sr-only {                   
    /* absolute serve para sobrepor em relação a sua classe maior */
    position: absolute;      
    width: 1px;
    height: 1px;
    /* CSS tricks para esconder da tela */
    padding: 0;
    /* CSS tricks para esconder da tela */              
    margin: -1px;            
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;

}

/* Class */
.container {                 
    /* Procura o menor entre os dois valores */
    width: min(90vw, 800px); 
    /* Margin são os espaços laterais, deixando o que está container balançeado e organiza as laterais */
    margin: auto;            
}

/* TITLES ================================================================ */
h2 {
    margin-top: 3.2rem;
    margin-top: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* LINKS & BUTTONS ======================================================= */
a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--light-green);
}

button {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: var(--green);
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background: var(--light-green);
}

.button.new {
    /* Para o link abrir apenas em + Nova Transação */
    display: inline-block;   
    margin-bottom: .8rem;
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

/* HEADER ================================================================== */ 
header {
    background: #2d4a22;
    /* 2rem em cima e embaixo e nas laterais 0*/
    padding: 2rem 0 10rem; 
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/* BALANCE ================================================================= */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: white;
    margin-top: 0;
}

/* CARDS =================================================================== */
.card {
    background: white;
    /* 1.5rem em cima e embaixo e 2 rem nas laterais */
    padding: 1.5rem 2rem; 
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    /* var() é uma função onde você pode usar a variável definida no root */ 
    color: var(--dark-blue); 
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    /* Muda o comportamento dos elementos dentro da caixa */
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    /* line-height é a separação de uma linha para outra, para este caso, caso o valor seja muito grande(ex: 5,000.00000000000000000000000) ficará alinhado, sem isso o valor ficaria "dentro de sí mesmo" */
    line-height: 3rem; 
    /* Diferença entre p e h3 */ 
    margin-top: 1rem;  
}

/* Elemento card que tenha a classe total */
.card.total { 
    background-color: var(--green);
    color: white;    
}

/* TABLE  ================================================================= */
#transaction {
    display: block;
    width: 100;
    /* Quando for necessário, criar rolagem(SHIFT + SCROLL) do eixo X para a caixa data-table*/
    overflow-x: auto; 
}

#data-table {
    /* Pegar 100% do container/caixa que está dentro */
    width: 100%; 
    /* Eixo vertical e Eixo Horizontal */
    border-spacing: 0 0.5rem; 
    color: #969cb3; 
}

table thead tr th:first-child,
table tbody tr td:first-child {
    /* cima direita baixo esquerda, efeito para ter bordinhas na frente(esquerda) */
    border-radius: 0.25rem 0 0 0.25rem; 
}

/* Pseudo class, Pseudo elements */
table thead tr th:last-child, 
table tbody tr td:last-child {
    /* Efeito relogio para ter bordinhas atrás(direita) */
    border-radius: 0 0.25rem 0.25rem 0; 
}

table thead th {
    background: white;
    font-weight: normal;
    /* 1 em cima e embaixo e 2 dos lados */
    padding: 1rem 2rem; 
    text-align: left;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: white;
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: #12a454;
}

td.expense {
    color: #e92929;
}

/* MODAL ================================================================== */
.modal-overlay {
    /* No width e height está dizendo para ocupar toda tela */
    width: 100%;    
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;  
    /* Deixa essa camada transparente em toda tela */
    top: 0;    
    display: flex;
    align-items: center;
    justify-content: center;
    /* Ele não aparece na tela, mas ocupa o espaço na tela */
    opacity: 0; 
    /* Esconde o espaço dele */
    visibility: hidden; 
    /* Empilhamento alterado, resolvendo o problema do dev.finances$ abaixo */
    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal { 
    background: #f0f2f5;
    padding: 2.4rem;
    position: relative;
    /* Empilhamento alterado, resolvendo o problema do dev.finances$ abaixo */
    z-index: 1;
}

/* FORM =================================================================== */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

#form form input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group .help {
    opacity: 0.4;
}

.input-group.actions {
    /* Para destravar as opções de alinhamento */
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

/* FOOTER ================================================================== */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}

/* RESPONSIVE ===========================================*/
/* A partir de width de 800 aplicar TUDO ISSO DE BAIXO, de width pra baixo você pega TUDO DE CIMA */
@media (min-width: 800px) { 
    html {  
        /* Quando o width minimo for de 800 fazer */
        font-size: 87.5%;
    }

    #balance {
        /* display: grid,  display: flex: Um do lado do outro */
        display: grid; 
        /* 1fr 1fr 1fr As frações sobre os cards */
        grid-template-columns: repeat(3, 1fr); 
        /* espaço entre as colunas */
        gap: 1rem; 
    }
}